#panorama {
  position: static;
  display: block;
  margin: 0 auto;
  width: 1020px;
  height: 510px;
  left: calc(50% - 500px);
  margin-top: -5px;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  #panorama {
    width: 95%;
  }
}

h1 {
  margin: 10px;
  font-size: 25px;
}

.buttonClass {
  font-size:12px;
  font-family:Trebuchet MS;
  width:125px;
  height:37px;
  border-width:2px;
  color:#fff;
  font-weight:bold;
  border-top-left-radius:17px;
  border-top-right-radius:17px;
  border-bottom-left-radius:17px;
  border-bottom-right-radius:17px;
  background-color: #000000;
  justify-content: center;
  cursor:pointer;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 1px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 20px;
}

.qtb {
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    top: 10px;
}